header {
    display: flex;
    justify-content: space-between;   
    margin: 0 8em;
}


header img {
    width: 30%;
}

header>nav ul {
    display: flex;
    gap: 1em;
}

li {
    display: block;
    font-weight: bold;
}