.site {
    margin: 3em 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.fees {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url(../images/calculator-icon.svg);
    background-color: rgb(84,84,109);
    background-position:left;
    background-repeat: no-repeat;
    position: relative;
}

.fees h1 {
    color: white;
    margin-top: 2em;
}

.card-list {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    position: absolute;
    top: 40%;
    padding: 0 5em;
}

.education {
    padding: 13em 17em 5em;
    
}

.finance {
    padding: 0 9em;
}

footer {
    background-color: rgb(84,84,109);
    text-align: center;
    padding: 1em 0;
}






