.site {
    margin: 3em 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.fees {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 5em;
    background-image: url(../images/calculator-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}
.card-list {
    display: flex;
    gap: 1.5em;
    justify-content: center;

}

