
@media (width<=414) {
    body {
        max-width: 414px;
        display:flex;
        flex-direction: column;
    }

    .main-movie ul li.main-movie-poster {
        display: none;
    }

    .main-movie {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main-movie ul {
        width: 100%;
    }

    .main-movie ul li{
        padding: 0;
        align-items: center;
    }

    li.main-movie-trailer {
        padding: 0;
    }

    
}