@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font:16px/1.5 Poppins,sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(./image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    position: relative;
}
.site {
    /* text-align: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-style: normal;
    padding-bottom: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: white;
    border-radius: 7px;
    
}

form>div {
    width: 100%;
    margin-top: 2em;
    border-bottom: 1px solid lightgray;
    padding-left: 2em;
    
}

form>p {
    margin: 1.5em 0;
}

form>p a {
    background-color: rgb(192, 47, 76);
    color: white;
    padding: 0.4em 3em;
    font-size: 0.9em;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

svg {
    padding-right: 2em;
}

input {
    border: none;
    font-size: 16px;
    padding-bottom: 1em;
}

