header {
    display: flex;
    margin-top: 2em;
}

.img {
    width: 60%;
}


.list, .navigation {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 3em;
    color: grey;
    font-weight: bold;
    padding-bottom: 1em;
}


a {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: rgb(152,152,152);
    gap: 1em;
    
}

.img img {
    background-color: rgb(160, 132, 32);
    width: 7%;
    padding: 2em;
    margin: 1.5em 8em;
    position: absolute;
}




