@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans';
    font-size: 12px;
}

body {
    background: rgba(211, 211, 211, 0.395);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.profil {
    display: flex;
    flex-direction: column;
}


.image {
    background-size: cover;
    background-position: center;
    background-image: brightness(32%);
    width: 320px;
    height: 400px;
    background-image: linear-gradient(rgba(12, 12, 12, 0.763), rgba(14, 14, 14, 0.927)), url("image/cover.jpg");
    background-repeat: no-repeat;

}

.image>p {
    color: white;
    padding: 1.5em;
    font-weight: bold;
    padding-bottom: 11em;
}

.profil {
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 3em 2em;
}

label, input {
    padding: 0.7em;
    
}

label {
    font-size: 10px;
    color: lightgray;
}

::placeholder{
    font-size: 12px;
    color: rgb(164, 159, 159);
}

input {
    border-bottom: 1px solid rgb(164, 159, 159);
    border-top: none;
    border-left: none;
    border-right: none;
}

h1 {font-size: 1.7em;};
h2 {font-size: 1.4em;}

h1, h2 {
    color: white;
    text-align: center;
}

.icons {
    padding-top: 11em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    gap:1em
}

.reg, .reg a {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 0.5em 1.2em;
    border-radius: 17px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

.ninja, .ninja a {
    color: gray;
    font-size: 10px;
    padding-top: 0.5em;
}