@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Great+Vibes&family=Lato:wght@100&family=PT+Sans&family=Raleway:wght@200&display=swap');


html {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 30px;
    padding: 30px;
}

.a {
    list-style-type: square;
}

.b {
    list-style-type: disc;
}

.c {
    list-style-type: circle;
}