ul {
    display: inline-block;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}

a {
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    padding: 15px;
    
}

.fb:hover svg {
    fill: blue;
}
.tw:hover svg {
    fill: rgba(0, 132, 255, 0.473);
}
.g:hover svg {
    fill: rgba(255, 0, 0, 0.922);
}
.l:hover svg {
    fill: rgba(10, 58, 217, 0.627);
}
.in:hover svg {
    fill: rgba(12, 134, 14, 0.473);
}