@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.2 Inter,serif;
    box-sizing: inherit;
}

section,p {
    font: inherit;
}

.site {
    width: 1091px;
    height: auto;
    margin: 0 auto;
    background-image: url(./images/background.jpg);
    background-position: center;
    background-size: cover;
    
}

.container {
    display: flex;
    padding: 3em 8em;
    gap: 2em;
}


.left {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.right {
    flex: 1 1 30%;
}

.card {
    background-color: white;
    display: flex;
    padding: 3em 3em;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.card-right {
    background-color: white;
    padding: 2em;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
}

.text {
    padding: 1em 1.5em 0 0;
}

.img {
    max-width: 120px;
    height: 120px;
    padding-right: 2em;
   
}

.card img {
    
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.bottom {
    padding-top: 1em;
    margin-top: 5.5em;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    gap: 1em;
}

.card-right .img-right {
    max-width: 80px;
    height: 80px;
}

.work {
    padding-top: 0.2em;
}

.card-right .text {
    padding-top: 3em;
}

.card-right img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}