body {
    background-color: lightslategray;
}

p {
    border: 2px solid #e6eaef;
    width: 20%;
    padding: 20px;
    margin: auto;
    background-color: #0f4069;
    color: whitesmoke;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;


}