* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    box-sizing: inherit;
}

.container {
    padding: 2em 10em;
    margin: 1em 10em;
}

header {
    border-top: 3px solid black;
}

main, header, footer {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

footer {
    border-bottom: 3px solid black;
}




