header {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color:rgb(255,255,255)
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
    
}

.logo {
    width: 6%;
}

img {
    width: 100%;
}

.nav-bar>ul {
    display: flex;
    gap: 1em;
    padding-top: 0.5em;
    
}

.nav-bar>ul>li {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
    color: rgb(236,240,241);
}

section {
    max-width: 59%;
    padding-bottom: 12em;
    
}

section h1 {
    font-size: 2.7em;
    font-weight: 400;
}

section p {
    line-height: 1.5;
    padding-top: 1em;
    color: rgb(236,240,241);
}
