.site {
    max-width: 901px;
    margin: 2em auto;
    border:1px solid black
}

.container {
    padding: 0 10em;
    
}


main>:nth-child(1) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.532);
    
}

.box {
    padding: 1em 0;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(23,23,32);
    padding: 2em 0;
}


footer>.container>.bottom-bar {
    display: flex;
    gap: 1em;
    padding-bottom: 3em;
     
}

.left,.right {
    display: flex;
    gap: 4em;
}

.bottom-bar ul,
.bottom-bar li {
    display: block;
    white-space: nowrap;
    font-size: 0.8em;
}

.bottom-bar ul>h3 {
    color: rgba(255, 255, 255, 0.849);
    font-weight: 400;
    padding-bottom: 1em;
}

.bottom-bar li {
    text-transform: uppercase; 
    color: rgb(154,159,165);
    padding: 0.5em;
}

footer>:nth-child(2) {
    color: rgb(154,159,165);
    border-top: 0.2px solid rgba(154, 159, 165, 0.363);
}

footer p {
    font-size: 0.8em;
    padding-top: 2em;
}