@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html {
    font-size: 16px;
    font-family: 'PT Sans', 'PT Serif', serif;;  
}

.container {
    padding: 1em 2em;
    margin: 1em 2em;
}