main {
    display: flex;
    
}

.text {
    background: rgb(245, 241, 241);
}

.statistics {
    
    background: rgba(108, 68, 68, 0.244);
    padding: 1em 2em 1em 1em;
}

.statistic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5.5em;
    list-style-type: none;
    padding: 1em 3em 1em 0.5em;
}

.statistic>div {

}

.num {
    color: white;
    font-size: 3em;
    padding-right: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

.opis {
    
    text-transform: uppercase;
    font-size: 0.7em;
    
      
}

/* .opis:nth-child(0), .opis:nth-child(1), .opis:nth-child(2) {
    padding-bottom: 3em;
} */


.text {
    display: flex;
    flex-direction: column;
    padding: 1em 6em;
}

.opisServices {
    padding-bottom: 1em;
}

.opisServices>p {
    padding-bottom: 1em;
}

.opisServices>p>span {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 0.5em;
}

.services>h2, .contact>h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5em;
}

.contacts span {
    font-style: italic;
    font-weight: bold;
}

.contact>h2 {
    border-bottom: 2px solid black;
    padding-bottom: 0;
}

.contacts {
    padding: 1em 0;
}

.buttons {
    display: flex;
    gap: 1em;
}

.buttons>input {
    padding-left: 1em;
    padding-right: 4.5em;
    background-color: rgba(108, 68, 68, 0.244);
    border: none;
    border-radius: 3px;
    
    
}

.buttons>p>a {
    color: white;
    background-color: rgba(18, 78, 18, 0.584);
    font-size: 0.7em;
    text-decoration: none;
    padding: 0.7em 1em;
    border-radius: 3px;
}

.buttons>p {
    padding-top: 0.1em;
    padding-bottom: 0.3em;
}

::placeholder {
    font-size: 0.7em;
    color: white;
    
    
}