html {
    font: 16px/1.5 Verdana, sans-serif;
}

body, table, textarea, input, option, button {
    font: inherit;
}

footer {
    padding-top: 1.5em;
}

p, ul, ol, dl {
    padding-bottom: 1.5em;
}

ul, ol, dl, blockquote {
    padding-left: 3em;
}

dt {
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 0.2em 0 1em;
    line-height: 1.1em;
}

h1 {font-size: 3em;}
h2 {font-size: 2.2em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}


blockquote {
    border-left: 0.1em solid #ccc;
    
}

blockquote p{
    font-style: italic;
    padding-block: 0.5em;
    padding-top: 0;
}