body {
    display: inline-block;

    font-family: "Lato", sans-serif;
    padding: 100px 450px 30px 450px;
}
form {
    text-align: center;
    display: inline-block;
}
form section h1 {
    padding-bottom: 150px;
    text-align: center;
}
.botom {
    padding: 91px 19px 24px 5px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}
.left {
    background-image:url("peak.jpg");
    background-color: #cccccc;
    background-size: cover;
    display: inline-block;
    border-style: solid;
    border-color: white;
    color: white;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    border-right: none;
    width: 250px;
    margin: 0px -3px 0px 0px;
    padding-bottom: 3px;
   
}
.right {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    width: 250px;
    padding: 44px 25px 2px 0px;
}

input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid black;
    text-align: left;
    color: rgb(118, 115, 115);
    
}
ul li {
    display: inline-block;
}
.signIn {
    display: inline-block;
    border: none;
    background-color: white;
    padding: 0px;
    font-size: 12px;
}
label {
    display: inline-block;
    color: rgb(218, 217, 220);
    font-size: x-small;
    text-align: left;
    width: 160px;
    text-align: left;

}
.data li {
    padding: 7px 10px;
}

.buttons {
    display: inline-block;
    margin: 0px 20px 25px -10px;
    color: rgb(118, 115, 115);
}
.or {
    display: inline-block;
    font-size: 12px;
}
.started {
    background-color: #38082A;
    border-color: #38082A;
    color: white;
    border-radius: 7%;
    font-size: 12px;
 
}