
        <section id="viewCatalog" class="background-img">
            
                {{#each hotels}}
                <div class="added-hotels"></div>
                    {{> hotel}}
                {{else}}
                <div class="guest">
                There are no Hotels found...
                </div> 
            </div>
                {{/each}}
        </section>

        