
header {
    background: rgb(0, 128, 182);
    background: linear-gradient(0deg, rgba(0, 128, 182, 1) 0%, rgba(0, 128, 182, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
}

header ul span {
    color: white;
    padding: 0.5em;
}



header li {
    list-style: none;
    margin: .35em;
    padding: 0 .95em;
}

header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


