<div class="book">
                <div class="info-container-profile">
                    <img src="{{image}}">
                </div>
                <div class="details-btn">
                    <a href="/book/detail/{{_id}}" class="details">Details</a>
                </div>
            </div>