<section>
    <h1 class="item">Create new accomodation</h1>
    <main class="item padded align-center">
        <form class="layout left large" action="/create" method="post">
            {{#if error}}
                <div class="error-box">
                    {{#each error}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
            <div class="col aligned">
            <label><span>Name</span><input type="text" name="name"></label>
            <label><span>City</span><input type="text" name="city"></label>            
            <label><span>Beds</span><input type="text" name="beds"></label> 
            <label><span>Price per nigth</span><input type="number" name="price"></label>  
            <label><span>Image URL</span><input type="text" name="imgUrl"></label>
            <label><span>Description</span><input type="text" name="description"></label> 
            <button>Create Accomodation</button>
            </div>
        </form>

    </main>  
</section>
