.card {
    display: flex;
}



.card>img {
    width: 50%;
    flex-grow: 1;
}

.card>article {
    width: 50%;
    padding: 2em 3.5em;
    
    
}

article>p {
    padding: 1em 0 1.5em;
    font-weight: bold;
}

article svg {
    padding-right: 1.5em;
}

.two h2  {
    text-align: center;
    padding-bottom: 1.5em;
}

.card>article>ul {
    list-style-type: none; 
}

.card>article>ul>li {
    padding-bottom: 1em;
}

.card>article>ul>li>img {
    width: 50%;
    margin-left: 2.2em;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1em;
    gap: 0.5em;
    align-content: center;
    
}

.icons>li {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: rgb(59, 214, 136);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
